<div class="bod">
  <app-assignment></app-assignment>
  <div class="container">
    <div class="jumbotron row">
      <div class="col-md-9 jumbotr">
        <h1>{{ assignment[0].title }}</h1>
        <span>{{ assignment[0].owner.name }}</span>💠️<i>{{ assignment[0].duedate | date }}</i>
        <h5>100 Points</h5>
        <hr />
        <div class="assign-body">
          <p>{{ assignment[0].description }}</p>
          <div class="assignment" *ngFor="let files of assignment[0].file">
            <a href="http://localhost:3000/{{ files.path }}" target="_blank">
              <img src="http://localhost:3000/{{ files.path }}" height="50px" alt="{{ assignment[0].file[0].path }}" />
              <h4>{{ files.originalname }}</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="jumbotr assign-upload">
          <b>Your work</b><br />
          <i *ngIf="status=='Assigned'" style="color: green;">{{status}}</i>
          <i *ngIf="status=='missing'" style="color: red;">{{status}}</i>
          <i *ngIf="status=='handed In'" style="color: rgb(10, 79, 1);">{{status}}</i>
          <i *ngIf="status=='Done late'" style="color: rgb(35, 122, 244);">{{status}}</i>
          <!-- <i>{{stat}}</i> -->
          <div style="word-break: break-all;">{{text}}</div><br>
          <form class="example-form" [formGroup]="assignmentForm" (ngSubmit)="submitAssignment()">
          <button type="button" class="btn btn-outline-secondary" mat-raised-button (click)="fileInput.click()" *ngIf="!assignmentUploaded">
              + Add File
            </button>
            <input hidden (change)="uploadFileEvt($event)" #fileInput formControlName="file" multiple name="file"
              type="file" id="file" /><br /><br />
            <button type="submit"  class="btn btn-primary" *ngIf="!assignmentUploaded">mark as done</button>
            <button type="button" (click)="assignmentUploaded=false" class="btn btn-danger" *ngIf="assignmentUploaded" >Unsubmit</button>
          </form>
        </div>
        <div class="comment">
          <b>Privat comment</b>
          <hr style="background-color: gray; width: 90%" />
          <div class="footer1 col-md-12 row" style="padding-top: 20px">
            <input type="text" name="addpost" placeholder="Comment" class="in-comment" />
            <button class="btn btn-primary" style="position: absolute; right: 2px">
              >>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>