.bod {
    align-items: center;
    /* background-image: linear-gradient(rgb(20, 127, 184),rgb(5, 34, 53)); */
    /* background: linear-gradient(to top, #ffffff 0%, #013256 100%); */
    background-color: gray;

    /* background-color: #29465b; */
    color: white;
    min-height: 100vh;
}

.jumbotron {
    background-color: transparent;
}

.jumbotr {
    /* background-color:transparent; */
    background-color: white;
    padding: 50px;
    color: black;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0px 1px 3px black;

}

.jumbotron hr {
    background-color: black;
}

.in-comment {
    border: 0px black solid;
    height: 20px;
    padding: 20px;
    width: 80%;
    /* border-radius:20px; */
}

.footer {
    position: absolute;
    bottom: 0px;
}

.assign-body {
    min-height: 20vh;
}

.todo {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 100px;
    left: 30px;
    z-index: 1;
    border-radius: 100px;
}

.todo:hover {
    box-shadow: 0px 0px 10px rgb(42, 7, 106);
    /* height: 55px;
    width: 55px; */
    background-color: rgb(57, 140, 208);
    border: 0px;
    /* bottom: 95px; */
    /* right: 95px; */
}

.assignment {
    font-size: 10px;
    width: 200px;
    word-wrap: break-word;
    background-color: rgb(179, 179, 179);
    color: white;
    padding: 10px;
    border-radius: 20px;
    color: black;

}

.assignment a {
    color: white;
}

.assignment:hover {
    box-shadow: 0px 0px 2px black;
}

.assign-upload {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 50px 20px 20px 20px;
    min-width: fit-content;
}

.assign-upload b {
    position: absolute;
    top: 20px;
    left: 30px;
}

.assign-upload i {
    position: absolute;
    top: 20px;
    right: 30px;
}

.assign-upload .btn {
    width: 100%;
}

.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.comment {
    margin-top: 5px;
    background-color: white;
    padding: 20px 5px 10px 10px;
    color: black;
    border-radius: 10px;
    box-shadow: 0px 1px 3px black;
}

.showfilename {
    border: 0px;
}

.submit-assign {
    min-width: 300px;
    margin-top: 2px;
}