<div class="nv">
<app-sidebar></app-sidebar>
    <nav class="navbar nav justify-content-center">
        <a class="nav-link" routerLinkActive="active" routerLink="/stream/post/{{classId}}">Stream</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/classwork/{{classId}}">Classwork</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/people/{{classId}}">People</a>
        <a class="nav-link" routerLinkActive="active" routerLink="/marks/{{classId}}" *ngIf="isCreator">Marks</a>
    </nav>
</div>
<router-outlet></router-outlet>