.nv{
    background-color:#ffffff;
    width:100%;
    position:sticky;
    color: black;
    z-index: 1;
    top: 0px;
    box-shadow: 0px 1px 5px black;
}
.active{
    background-color: gray;
    color: white !important;
    border-radius: 50px;
}
.nav a{
    color: black;
    cursor: pointer;
}