.nv{
    background-color: rgb(3, 58, 120);
    width:100%;
}
.active{
    background-color: white;
    color: black !important;
    border-radius: 50px;
}
.nav a{
    color: aliceblue;
    cursor: pointer;
}
.cv{
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
    margin:5px;
    /* padding: 10px; */
    min-height: 20vh;
    position: relative;
    border-radius:10px;
    color:white;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
}
.footer{
    position:absolute;
    bottom: 0px;
}
.jumbo-class-code{
    height:fit-content;
    padding: 20px;
    color:black;
    font-weight: 400;
    background-color:white;    
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.5);
}
.jumbo-class-code h4{
    color:maroon;
    font-weight: 600;
}
.in-post{
    border:0px;
    height:30px;
    width: 100%;
}.in-post:focus{
    border-bottom: 0px;
}
.in-comment{
    border:1px black solid;
    height:40px;
    padding: 20px;
    width: 100%;
    border-radius:20px;
}

.in-post{
    /* border:1px black solid; */
    height:40px;
    padding: 20px;
    width: 100%;
    border-radius:20px;
}
.bod{
    background-image: linear-gradient(white,rgb(3, 58, 120));
    min-height: 100vh;
}