.nv{
    background-color:#025793;
    width:100%;
    position:sticky;
    z-index: 1;
    top: 0px;
}
.active{
    background-color: white;
    color: black !important;
    border-radius: 50px;
}
.nav a{
    color: aliceblue;
    cursor: pointer;
}