<div class="bod ">

    <app-assignment></app-assignment>
    <div class="row">


        <div class="col-md-2 stud-list">
            <select name="" id="" class="form-control">
                <option value="">Sort by Status</option>
                <option value="">Sort by Name</option>
                <option value="">Sort by email</option>
            </select><br><br>
            <ul>
                <li> Student 1</li>
                <li> Student 2</li>
                <li> Student 3</li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row" style="height: 100px;" >
                <div class="col-sm-2 card" style="color:black;width: 50px;align-items: center;padding-top: 5px;background-color: antiquewhite;">
                    <h1>0</h1>
                    <h2>Assign</h2>
                </div>
                <div class="col-sm-2 card" style="color:black;width: 50px;align-items: center;padding-top: 5px;margin-left: 5px;background-color: antiquewhite;">
                    <h1>0</h1>
                    <h2>Hand In</h2>
                </div>
            </div>
            <hr style="background-color: white;">
            <div style="color: black; margin-top: 10px;display:flex;">
                <div class="card" style="padding: 10px;width:200px">
                    <h2>name</h2>
                    <b>Hand in</b>
                </div>
                <div class="card" style="padding: 10px;width:200px;margin-left: 5px;">
                    <h2>name</h2>
                    <b>Hand in</b>
                </div>
                <div class="card" style="padding: 10px;width: 200px;margin-left: 5px;">
                    <h2>name</h2>
                    <b>Hand in</b>
                </div>
            </div>

        </div>
        
    </div>
</div>
