.bod {
    align-items: center;
    /* background-image: url('cool-background (2).png'); */
    /* background-color: gray; */

    /* background: linear-gradient(to top, #ffffff 0%, #013256 100%); */
    background-color: gray;
    background-attachment: fixed;
    min-height: 100vh;
}

.jumbotron {
    background-color: transparent;
}

.bt-cr {
    border-radius: 20px;
    /* top: 5px; */
    position: relative;
    background-color: white;
    color: black;
    border: 0px;
    /* box-shadow: 0px 0px 5px gray; */
}

.list {
    padding: 1px;
    margin-top: 10px;
}

.list ul {
    list-style-type: none;
}

.list ul li {
    background-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
}

.list ul li:hover {
    background-color: rgb(6, 77, 144);
    padding-left: 20px;
    color: white;
    box-shadow: 0px 0px 10px gray;
    /* border-radius: 20px; */
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.list .element {
    margin-top: 10px;
}

.as_body {
    min-height: 100px;
    height: fit-content;
}

/* .col-md-2 {
    background-color: antiquewhite;
    margin-left: 1px;
    border-left: 1px solid black;
} */

.col-md-2 h4 {
    color: brown;
}

.assignment {
    font-size: 10px;
    width: 200px;
    word-wrap: break-word;
    background-color: rgb(227, 225, 225);
    padding: 10px;
    border-radius: 20px;
    color: black;
}

.assignment:hover {
    box-shadow: 0px 0px 2px black;
}

.assignment.preview {
    width: 100px;
    background-color: aliceblue;
}