.bod{
    align-items: center;
    background-image: linear-gradient(white,rgb(3, 58, 120));
    min-height: 100vh;
}
.stud-list ul li{
    list-style-type: none;
    margin-top: 5px;
    padding:10px;
    font-family: 'Courier New', Courier, monospace;
}   
.stud-list ul li:hover{
    background-color: rgb(45, 129, 197);
    color: white;
    padding: 10px;
    font-size: 17px;
    font-weight: 900;
    border-radius: 10px;
}
hr{
    background-color: red;
}
.jumbotron h1{
    color: rgb(95, 27, 27);
}
.jumbotron img{
    border-radius: 20px;
}
