<div class="bod ">
    <app-stream></app-stream>
    <div *ngIf="isloaded">
        <table class="table table-dark table-body">
            <th></th>
            <th *ngFor="let assign of assignments" style="color: black;">
                {{assign.title}}
            </th>
            <tr *ngFor="let user of userDetail;let j=index">
                <td>{{user.user.name}}</td>
                <td *ngFor="let assign of assignments;let i=index"
                    [ngStyle]="{'background-color':getMarks(user.user._id,assign._id)>0?'green':'transparent'}">
                    <a>{{getMarks(user.user._id,assign._id)}}/{{assign.points}}</a></td>
            </tr>
        </table>
    </div>
    <div style="width: 100%; text-align: center" *ngIf="!isloaded">
        <img src="https://www.ispsolutions.co.za/sitepad-data/uploads//65ba488626025cff82f091336fbf94bb.gif" alt="">
    </div>
</div>