.page {
    margin: 0px;
    background-color: rgb(106, 106, 106);
    height: 100vh;
}

.g-card {
    position: relative;
    top: 20%;
    /* left: ; */

    width: 30vw;
    background-color: white;
    box-shadow: 0px 0px 1px black;
    padding: 30px;
    min-width: 500px;
    background-image: url('../../../../Classroom2.0Logo.gif');
    background-size: cover;
    background-position: center;
}

.g-card h2 {
    font-family: 'Courier New', Courier, monospace;
}

.g-card .btn:hover {
    box-shadow: 0px 0px 5px black;
    background-color: rgb(9, 107, 2);
    color: white;
}

.btn {
    box-shadow: 0px 0px 3px black;
    width: 200px;
}