<div class="page" align="center">
    <div class="g-card">
        <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c51f.png" alt="" height="30px" width="70px">
        <hr>
        <h2>login With <b>Google</b></h2>
        <!-- <button class="btn" (click)="signIn()" data-onsuccess="onSignIn">Login</button> -->
        <img width="200" src="https://i.pinimg.com/originals/08/1d/9f/081d9fbd94372cd42dc6b0368f4628f8.png"
                alt="logo">
                <h3><b style="color: rgb(38, 38, 110);font-size: 50px;" >My</b>
                    <b style="color: brown;font-size: 30px;">Class</b>
                    </h3>
            <br>
        <button class="btn" (click)="signIn()">Login</button>
    </div>
</div>