<div class="page" align="center">
    <!-- <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="407117015407-gksld6ruke97k5ngbqqbq9019e3ask34.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div> -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="YOUR_CLIENT_ID"
         data-ux_mode="redirect"
         data-login_uri="https://www.example.com/your_login_endpoint">
    </div>
    <div class="g_id_signin" data-type="standard"></div>
    <div class="g_id_signin" data-type="standard"></div>
    <!-- <img width="200" src="http://www.clker.com/cliparts/X/E/o/N/V/2/blackboard-with-stand-and-letters.svg"alt="logo" class="img-board"> -->
        
    <div class="g-card">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Google_1998_logo.png" alt="" height="50px" width="130px"> -->
        <!-- <hr> -->
        <!-- <h2><b>Google</b> Login</h2> -->
        <!-- <button class="btn" (click)="signIn()" data-onsuccess="onSignIn">Login</button> -->
            <!-- <img src="https://www.canva.com/design/DAE_EHkBHQ0/YmnuqtvyFFatniTTmZ-75w/watch?utm_content=DAE_EHkBHQ0&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" alt="not" height="100px"> -->
            <br><br>
            <!-- <h1><b>Classroom 2.0</b></h1> -->
            <div style="height: 300px;">

            </div>
            <hr>

            <!-- <img src="../../../../Classroom2.0Logo.png" alt=""> -->
        <button class="btn" (click)="signIn()">Login</button>
    </div>
</div>