<!-- <app-header></app-header> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <app-classwork></app-classwork> -->

<!-- <app-homepage></app-homepage>
<app-class></app-class> -->

<!-- <div class="jumbotron row">
    <button >Google login</button>
    <button (click)="signOut()" *ngIf="name!=null">Google Signout</button>    
</div>
{{name}} -->
<!-- <div *ngif="user!=null">
    <div style="color: black;text-align: center">You are signed with google {{user.getBasicProfile().getName()}}</div>
hiii
</div> -->