
  /*------------------------------------------------------------------------------------------------*/
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0px; /* Stay at the top */
    left: 0;
    background-color: rgb(59, 59, 59); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    /* transition: 0.3s; */
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
      background-color: gray;
      color: black;
      border-radius: 0px 20px 20px 0px;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 36px;
    height: 52px;
    background-color: gray;
    padding-top:15px ;
  }
  .closebtn:hover{
      /* background-color:transparent !important; */
      background-color: rgb(159, 159, 159) !important;
      color: black !important;
      border-radius: 0px !important;
  }
  .sidenav h3{
      /* margin-left:10px; */
      padding: 10px;
      color: rgb(190, 189, 189);
      /* box-shadow:0px 2px 10px black; */
      /* background-color:rgb(44, 88, 142) */
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .btn-sidebar{
      position:sticky;
      top: 5px;
      left:20px ;
        height: 40px;
        width:40px;
        float: left;
        /* background-image: url('https://icons-for-free.com/download-icon-cercle+hamburger+list+mavigation+menu+stack+icon-1320196711549929265_512.png'); */
        background-image: url('https://static.wixstatic.com/media/2cd43b_07ea062ac8fc4a9fab96c874a998e490~mv2.png/v1/fill/w_320,h_320,q_90/2cd43b_07ea062ac8fc4a9fab96c874a998e490~mv2.png');
        background-size:contain;
    }
    .manu-img{
        height: inherit;
    }
    .footer{
      /* position:absolute;
      width: 100%;
      bottom: 50px; */
    }