
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <br><br>
    <a class="nav-link" routerLink="/home" >
        <img src="https://icons.iconarchive.com/icons/double-j-design/origami-colored-pencil/256/blue-home-icon.png" alt="" height="30px"><b style="margin-left:5px"> Home</b> </a>
    <br><h3>Teaching</h3>
    
    <a routerLink="/stream/post/{{class._id}}" *ngFor="let class of classes">
        <img src="https://www.pinclipart.com/picdir/big/365-3659818_a-relentless-focus-on-performance-with-a-passion.png" alt="" height="30px"> 
        <b style="margin-left:5px"> {{class.name}}</b></a>
    <br>
    <h3>Enroll</h3>
    
    <a routerLink="/stream/post/{{jclass.class._id}}" *ngFor="let jclass of joinclasses">
        <img src="https://cdn.iconscout.com/icon/free/png-256/e-learning-2663099-2207482.png" alt="" height="30px"> 
        <b style="margin-left:5px"> {{jclass.class.name}}</b></a>

    <br>
    <h3>Other</h3>
    <div class="footer">
        <a (click)="onTodo()" style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Microsoft_To-Do_icon.png" alt="" height="20px"> 
            <b style="margin-left:5px"> Todo</b></a>            
    
        <a (click)="onsetting()"style="cursor: pointer;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Windows_Settings_app_icon.png" alt="" height="20px"> 
            <b style="margin-left:5px"> Setting</b></a>            
    </div>

</div>
  
  <!-- Use any element to open the sidenav -->
  <button (click)="openNav()" class="btn btn-sidebar"></button>