<mat-card class="todoDialog">
    <mat-card-header>
        <mat-card-title>{{userDetail?userDetail.owner.name:''}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <hr />
        <div class="jumbotron">
            <h3>{{userDetail?userDetail.assignment.title:''}}</h3>
            <b style="position:absolute;right: 30px;top:130px;color: blue;">{{userDetail?userDetail.status:''}}</b>
            <hr>
            <ul>
                <li> <a href="http://localhost:3000/{{userDetail?userDetail.file[0]?userDetail.file[0].path:'':''}}"
                        target="_blank">{{userDetail?userDetail.file[0]?userDetail.file[0].originalname:'':''}}</a></li>
            </ul>
            <hr>
            <b>Marks:</b><br>
            <form [formGroup]="MarksForm" (ngSubmit)="submitdata()">
                <div class="input-group mb-3">
                    <input type="number" name="marks" id="" value="{{userDetail?userDetail.marks:''}}"
                        placeholder="Marks" class="form-control" style="background-color: transparent;"
                        formControlName="marks">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                </div>
            </form>
        </div>

    </mat-card-content>
</mat-card>
<mat-accordion>