:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: gray;
  /* box-sizing: border-box; */
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  max-width: 500px;
  height: inherit;
  flex-direction: column;
  align-items: center;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

body {
  margin: 0;
  padding: 0;
  /* min-height: 100vh; */
  /* background: rgb(238, 231, 231); */
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
}

.container1 {
  width: 90vw;
  height: fit-content;
  position: relative;
  /* display: flex; */
  justify-content: center;
}

.container1 .card1 {
  margin-top: 100px;
  position: relative;
  cursor: pointer;
  min-width: 400px;
  max-width: 500px;
}

.container1 .card1 .face {
  width: 300px;
  height: 200px;
  /* transition: 0.5s; */
}

.container1 .card1 .face.face1 {
  position: relative;
  background: rgb(21, 190, 251);
  display: flex;
  color: rgb(248, 242, 242);
  /* justify-content: center; */
  align-items: center;
  /* z-index: 1; */
  /* transform: translateY(100px); */
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  /* overflow: hidden; */
}

.container1 .card1:hover .face.face1 {
  background: #203085;
  /* transform: translateY(0); */
}

/* .container1 .card1 .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
} */

.container1 .card1:hover .face.face1 .content {
  opacity: 1;
}

.container1 .card1 .face.face1 .content img {
  max-width: 100px;
}

.container1 .card1 .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  /* color: #fff; */
  text-align: center;
  font-size: 1.5em;
}

.container1 .card1 .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  color: black;
  padding: 0px;
  /* justify-content: center; */
  align-items: center;
  /* padding: 20px; */
  box-sizing: border-box;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8);
  /* transform: translateY(-100px); */
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  height: fit-content;
}

/* .container1 .card1:hover .face.face2 {
  transform: translateY(0);
} */

.container1 .card1 .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container1 .card1 .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  padding: 5px;
  border: 1px solid #333;
  /* border-radius: 50px; */
}

.container1 .card1 .face.face2 .content a:hover {
  background: #333;
  /* color: #fff; */
}

/* .footer{
    height:35vh;
    width:100%;
    margin: 0 auto;
    color:white;
    background-color: hsl(0, 100%, 99%);
} */

.jumbotr {
  /* background-image: url('https://www.pngmagic.com/product_images/blue-background-images-for-websites.jpg'); */
  background-color: gray;
  /* background: linear-gradient(to bottom, #025793 0%, #ffffff 100%); */
  /* height:fit-content; */
  /* padding-top: 200px; */
  min-height: 100vh;
  /* margin-bottom: 0px; */
  /* background-repeat: no-repeat; */
}

/* 
  --------------------- */

.cust {
  /* border-radius: 10px; */
  /* background: linear-gradient(to bottom, #cc0099 0%, #3333ff 129%); */
  /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.8); */
  border: 0px;
}

.jbr {
  position: relative;
  bottom: 0px;
  margin-top: 0px;
}

/* -------------------------------- */
.imge {
  height: 130px;
  width: 100%;
  /* background-image: url('http://localhost:3000/{{classDetail.image[0].path}}'); */
  border-radius: 10px 10px 0px 0px;
  /* padding: 20px; */
  /* opacity: 0.5; */
  /* z-index: 1; */
  color: white;
  font-size: 20px;
}

.cust {
  padding: 0px;
}

.crdbody {
  width: 100%;
  height: 50px;
  padding: 20px;
}

.crdfoot {
  bottom: 0px;
  padding: 20px;
}

.card {
  border-radius: 10px;
  border: 0px;
  padding: 0px;
  /* min-width:300px; */
  /* max-width:500px; */
  margin: 10px;
  color: gray;

}

.card:hover {
  box-shadow: 0px 0px 10px black;
}

.jbr {
  width: 100%;
  height: fit-content;
  min-height: 95vh;
  z-index: 0;
  /* background: linear-gradient(to top, #ffffff 0%, #025793 100%); */
  background-color: gray;
}

.jbr a {
  margin: 10px;
}

.bt-home {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 70px;
  bottom: 10px;
  border-radius: 50px;
  height: 70px;
  padding: 0px;
  background-color: #125699;
  background-image: url('https://img.freepik.com/free-vector/home-icon-pin-deal-isolated-white_1284-48167.jpg?w=2000');
}

.bt-home img {
  height: 70px;
  border-radius: 50px;
  width: 70px;
}

.bt-home:hover {
  bottom: 20px;
}

#class {
  /* background-image: url('https://cdn.pixabay.com/photo/2019/10/23/08/46/airplane-4570897_1280.jpg'); */
  background-size: cover;
}

.todo {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 100px;
  right: 50px;
  z-index: 1;
  border-radius: 100px;
}

.todo:hover {
  box-shadow: 0px 0px 10px rgb(42, 7, 106);
  /* height: 55px;
  width: 55px; */
  background-color: rgb(57, 140, 208);
  border: 0px;
  /* bottom: 95px; */
  /* right: 95px; */
}

.setting {
  bottom: 30px;
  right: 50px;
}

.err {
  color: red;
  text-align: left;
}

.bg-create {
  position: absolute;
  font-size: 12px;
  color: white;
  right: 10px;
}