<mat-card class="todoDialog">
  <mat-card-header>
    <mat-card-title>
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Windows_Settings_app_icon.png" alt="" height="20px">
      Setting
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <hr />

    <div class="jumbotron">
      <h2>Profile</h2>
      <hr>
      <b>Add profile:</b>
      <button style="float: right;" type="button" mat-raised-button (click)="fileInput.click()"> Choose File</button>
      <input hidden (change)="uploadFileEvt($event)" #fileInput formControlName="file" multiple name="file" type="file"
        id="file"><i>{{text}}</i>
      <br><br><br>
      <select [disabled]="true" name="" id="" class="form-control" style="width: 200px;float: right;">
        <option value="">All</option>
        <option value="" *ngFor="let class of classes">{{class.name}}</option>
      </select>
      <h2>Comment</h2>
      <hr />
      <div class="row">
        <div class="col-md-11">Comment on your posts</div>
        <div>
          <!-- <mat-slide-toggle [(ngModel)]="modal" (change)="ngOnInit()" color="primary">
                        Label
                    </mat-slide-toggle> -->
          <ng-toggle [disabled]="true" [value]="true" [color]="{unchecked: '#939da2',checked: '#f62d51'}" [height]="15" [width]="30">
          </ng-toggle>
        </div>
        <div class="col-md-11">private comment on work</div>
        <div>
          <ng-toggle [disabled]="true" [value]="true" [color]="{unchecked: '#939da2',checked: '#f62d51'}" [height]="15" [width]="30">
          </ng-toggle>
        </div>
      </div>
      <br /><br />
      <!-- <h2>Class enroll</h2> -->
      <!-- <hr /> -->
      <div class="row">
        <!-- <div class="col-md-11">Invitations to join classes as a student</div>
        <div>
            <ng-toggle [value]="true" [color]="{unchecked: '#939da2',checked: '#f62d51'}" [height]="15" [width]="30"></ng-toggle>
        </div> -->

        <!-- <div class="col-md-11">posts from users</div>
        <div>
            <ng-toggle [value]="true" [color]="{unchecked: '#939da2',checked: '#f62d51'}" [height]="15" [width]="30"></ng-toggle>
        </div> -->

        <!-- <div class="col-md-11">late submission</div>
        <div>
            <ng-toggle [value]="true" [color]="{unchecked: '#939da2',checked: '#f62d51'}" [height]="15" [width]="30"></ng-toggle>
        </div> -->
      </div>
    </div>

    <button [disabled]="true" class="btn btn-success" style="position: absolute;right: 20px;bottom: 5px;">Save</button>
  </mat-card-content>
</mat-card>