.nv{
    background-color: rgb(3, 58, 120);
    width:100%;
}
.active{
    background-color: white;
    color: black !important;
    border-radius: 50px;
}
.nav a{
    color: aliceblue;
    cursor: pointer;
}
