.nv {
    background-color: white;
    color: black;
    width: 100%;
    box-shadow: 0px 1px 5px black;
}

.active {
    background-color: gray;
    color: white !important;
    border-radius: 50px;
}

.nav a {
    color: black;
    cursor: pointer;
}